<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Welcome to Home</h1>
  <a href="/notes/leave">Leave a Note</a><br>
  <a href="/notes/read">Read Notes</a>
</body>
</html>
