<!DOCTYPE html>
<html>
<head>
  <title>Leave a Note</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Leave a Note</h1>
  <form action="/notes/leave" method="post">
    <label for="note">Note:</label>
    <input id="note" name="note">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
