<!DOCTYPE html>
<html>
<head>
  <title>Read Notes</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Read Notes</h1>
  <ul>
    <% notes.forEach(function(note) { %>
    <li><%= note %></li>
    <% }); %>
  </ul>
</body>
</html>
