<!DOCTYPE html>
<html>
<head>
  <title>Member Detail</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Member Detail</h1>
<p>
  <strong>ID:</strong> <%= member.id %><br>
  <strong>Name:</strong> <%= member.name %><br>
  <strong>Email:</strong> <%= member.email %>
</p>
</body>
</html>
